LLMGW_CONFIG=/etc/llmgw/config.yaml
LLMGW_POSTGRES_DSN=postgres://llmgw:CHANGE_ME@host.docker.internal:5432/llmgw?sslmode=disable
LLMGW_KEY_PEPPER=CHANGE_ME_TO_AT_LEAST_32_RANDOM_BYTES
LLMGW_IMAGE_TAG=latest
